.font-size-16{
}
.font-size-32{
}
.font-size-20{
}
.font-size-24{
}
@media(min-width: 400px){
	.font-size-32{
		font-size: 32px;
	}
	.font-size-16{
		font-size: 16px;
		text-decoration: none;
	}
	.font-size-20{
		font-size:20px;
		line-height: 22px;
	}
	.font-size-24{
		font-size: 24px;
	}
}
@media(max-width: 400px){
	.font-size-32{
		font-size: 16px;
	}	
	.font-size-16{
		font-size: 14px;
	}
	.font-size-20{
		font-size:16px;
	}
	.font-size-24{
		font-size: 16px;
	}
}
a{
	color: #1fbbad;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	color: #19A699;
	text-decoration: none;
}
.body-bg{
	background: #f0f0f0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.nopadding{
	padding: 0 !important;
}
.navbar-default{
	background-color: #fff;
	border: none;
}
.navbar-default .navbar-nav>li>a{
	color: #715f58;
	font-size: 18px;
	padding: 10px 60px 10px 15px;
}
.navbar-default.header2 .navbar-nav>li>a{
	color: #fff;
	font-size: 18px;
	padding: 15px 20px;
	height: 52px;
}
.navbar-default.header2 .navbar-nav>li{
	border-right: 1px solid #efe7de;
}
.navbar-default.header2 .navbar-nav>li>a:hover,
.navbar-default.header2 .navbar-nav>li.active>a{
	color: #735E56;
	background-color: #f0f0f0;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#5D4F49;
}
.navbar-default .navbar-nav>li>a.nav-link{
	padding: 10px 15px;
}
.navbar {
    position: relative;
}
.navbar>.container-fluid .brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
.location-header{
	color:#ddcbbd; 
	padding-top:10px; 
	padding-bottom:10px
}
.location-file-upload{
	height:150px;
	width:150px; 
	margin-top:15px
}
.geocode-button{
	width:20%; 
	float:left; 
	height:45px; 
	background-color:#fff; 
	border:none; 
	border-bottom:1px solid #735E56;
}
.geocode-text{
	width:80% !important; 
	float:right;
	border-radius:0px; 
	border:none; 
	border-bottom:1px solid #1fbbad;
}
.google-map-header{
	background-color:#7b7060;
	color:#fff; 
	height:26px; 
	text-align:center;
}
.sign-up{
	text-align:center; 
	margin-top:20px;
}
.location-field{
  border: 1px solid white !important;
  border-radius: 0px !important;
  text-align: center;
  color: white;
}
.location-field::-webkit-input-placeholder {
    color: white;
}
.location-field:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
.location-field::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
.location-field:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

.signup-form{
  height: 45px;
  border-bottom: 1px solid;
  width:70%;
}
.entry-field-service{
	border: none !important;
  	border-radius: 0px !important;
  	background-color: #f0f0f0;
  	height: 40px;
}
.entry-field-service:focus{
	border:1px solid #1fbbad !important;
}
.signup-fa{
	width:10%;
}
.signup-form-head{
	height: 45px;
	border: 1px solid #1fbbad;
	width:60%;
}
.signup-terms{
	text-align:center;
	padding-top:5px; 
	padding-bottom:5px;
	width:70%;
}
.registration-page .input-group{
	padding: 10px 0;
}
.header-account.dropdown{
	border: none;
	background-color: #735E56;
	padding: 0;
	width: inherit;
}
input[type='text'], input[type='email'], input[type='password']{
  border: none !important;
  border-bottom: 2px solid #f0f0f0 !important;
  box-shadow: none;
  border-radius: 0;
}
input[type='text']:focus, input[type='email']:focus, input[type='password']:focus{
	outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
}
select:focus{
	outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
}
select{
  border: none !important;
  border-bottom: 2px solid #f0f0f0 !important;
  box-shadow: none !important;
  border-radius: 0;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.signup-fa{
	width:15%;
	float:left;
	padding-top: 9px;
	padding-bottom: 9px;
}
.signup-button{
	width:70%;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background-color: #1fbbad;	
	border:none;
}
.save-button{
	width:100%;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background-color: #1fbbad;	
	border:none;
	margin-right:-15px;
	margin-left:-15px;
}
.white-bg{
	background-color:white;
}
.white-text{
	color:white !important;
}
.brown-text{
	color: #B4978D;
}
.footer-new li{
	padding: 5px 0;
}
.header-columns{
	padding-top:16px;
	padding-bottom: 16px;
	font-size:18px;
	text-align: center;
}
.header-image{
	min-height:50px;
}
.services_input input,
.services_input{
	text-align:center;
	padding:10px 0px 10px 0px;
	width:100%; 
	border: none;
	background-color: #f1f1f1;
}
.services_input input.active{
	text-align:center;
	padding:10px 0px 5px 0px; 
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom:5px solid #1fbbad; 
	width:100%; 
	background-color: #fff;
}
.ptb-10{
	padding-top: 10px;
	padding-bottom: 10px; 
}
@media(max-width: 768px){
	#header{
		display: none;
	}
}
.row15{
	margin-right: 0px !important;
	margin-left: 0px !important;	
}
@media(max-width:400px){
	.nav-top{
		display: none;
	}
	#merchant-home-body{
		margin-top: -20px;
	}
}
@media(min-width:400px){
	.nav-bot{
		display:none;
	}
	#merchant-home-body{
		margin-top: 50px;
	}
}
.act{
	background-color: #aea190;
}
.midbrownbg-color{
	background-color: #b0988e;
}
.location-head{
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}
#my-button{
    position: absolute;
    border: none;
    background: url('../images/inputDigitalMenu.png') center center no-repeat;;
    width: 150px;
    height: 150px;
    top: 0px;
    left:0px;
    z-index: 1;
}

#my-button1{
    position: absolute;
    border: none;
    background: url('../images/inputDigitalMenu.png') center center no-repeat;;
    width: 150px;
    height: 150px;
    top: 0px;
    left:0px;
    z-index: 1;
}
#file-upload-cont{
    position: relative;
}

#overlay{
 position: absolute;
 z-index: 0;
left: 0;   
    opacity:0;
}

#file{
    opacity: 0;
    position: relative;
    z-index: 100;
    height:150px;
    width: 150px;
}
.merchant-home{
	background:#fff;
	line-height: 200%;
	width: 100%;
	padding: 20px;
	border:1px solid #c8c8c8;
}
.merchant-home-img{
	background:#fff;
	line-height: 200%;
	width: 100%;
	border:1px solid #c8c8c8;
}
.disable
{
	opacity:0.3;
	background-color: #f6f6f6;
}
label {
    position:relative;   
    cursor:pointer;
}
label [type="radio"] {
    display:none;
}
[type="radio"] + span {
    display:inline-block;
    padding:1em;
}
:checked + span {
    background:#1fbbad;
    display:inline-block;
    border-radius: 100px;   
}
.post-deal-btn{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #735E56;
	margin-top: 70px;
	text-align: center;
	color: #fff;
}
.post-deal-input{
  background-color: #1FBBAD;
  padding: 15px 15px;
  margin-top: 70px;
}
::-webkit-input-placeholder {
   color: #A5E4DE;
}

:-moz-placeholder {
   color: #A5E4DE;  
}

::-moz-placeholder {
   color: #A5E4DE;  
}

:-ms-input-placeholder {  
   color: #A5E4DE;  
}
.deal-tabs{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border:1px solid #735E56;
}
.dropdown{
    outline: medium none;
    cursor: pointer;
    border-left: 5px solid #808080;
    background: none repeat scroll 0% 0% #FFF;
    width: 100%;
    padding: 10px 15px;
    margin: 0px auto;
    position: relative;
}
.top li 
{
	display: inline;
	padding: 10px;
	color: #735e56;
}

.top {
	font-size: 15px;
	margin-top: 30px;
	font-family: "Cabin";
	float: left;
	padding-left: 0px;
}

.button {
	background-color: #1fbbad;
	border-radius: 4px;
}
.header-columns{
	padding-top:16px;
	padding-bottom: 16px;
	font-size:18px;
	text-align: center;
}
.row15 {
	margin-left: 0px;
	margin-right: 0px;
}

.MerchantIcons div div{
	border: white 1px solid;
	border-radius: 400px;
}

.circle {
	border-radius: 100px;
}
.address-radio{
	padding-top: 15px;
	text-align: left;
}
.day-pill{
	height: 50px;
	padding-top: 12px;
	color: #1fbbad;
	background: #f0f0f0
}
.day-pill:focus, .day-pill:active{
	color: white;
}
.time-slot{
	background: none;
	border:1px solid #1fbbad;
	border-radius: 5px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.thumb{
	height:158px;
	margin-top: 10px;
}
.sign-in-username{
	height:50px;
	border-radius: 0px;
}
.sign-in-pass{
	height:50px;
	border-radius: 0px;
}
.sign-in-place::-webkit-input-placeholder {
    color: #1fbbad;
    text-align: center;
}
.sign-in-place:-moz-placeholder {
    /* FF 4-18 */
    color: #1fbbad;
    text-align: center;
}
.sign-in-place::-moz-placeholder {
    /* FF 19+ */
    color: #1fbbad;
    text-align: center;
}
.sign-in-place:-ms-input-placeholder {
    /* IE 10+ */
    color: #1fbbad;
    text-align: center;
}
.light-opacity{
	opacity: 0.6;
}
.text-green{
	color: #1fbbad;
}
.btn-green{
	background-color: #1fbbad !important;
	color: #fff !important;
}
.btn-green:hover{
	background-color: #19A699 !important;
	color: #fff !important;
}
.btn-blue{
	background-color: #00B6BA !important;
	color: #fff !important;
}
.btn-blue:hover{
	background-color: #019FA2 !important;
	color: #fff !important;
}
.btn-lg,
.btn{
	border-radius: 2px !important;
}
.btn-login{
	background-color: #1fbbad;
	border-radius: 0px;
	border:none;
	height: 50px;
}
.btn-login:hover{
	background-color: #aea190;
}

.star-ratings-sprite {
	background: url("../images/star.png") repeat-x;
	font-size: 0;
	height: 42px;
	line-height: 0;
	overflow: hidden;
	text-indent: -999em;
	width: 220px;  
}
.rating {
	background: url("../images/star.png") repeat-x;
	background-position: 0 100%;
	float: left;
	height: 42px;
	display:block;
  }
  .star-ratings-review {
	background: url("../images/starreview.png") repeat-x;
	font-size: 0;
	height: 21px;
	line-height: 0;
	overflow: hidden;
	text-indent: -999em;
	width: 110px;  
}
.rating-review {
	background: url("../images/starreview.png") repeat-x;
	background-position: 0 100%;
	float: left;
	height: 21px;
	display:block;
  }
.select-style {
    border: 1px solid #1fbbad;
    border-radius: 1px;
    overflow: hidden;
    height: 40px;
}

.select-style select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.display{
	display: none;
}
.postdeal-field{
	border:none;
  border-bottom: 1px solid #1fbbad;
  border-radius: 0px !important;
  text-align: center;
  margin-top: 10px;
}
.select-time select{
	padding: 10px;
	background: transparent;
	border-bottom: 1px solid #c8c8c8 !important;
}
.day-pill.active,
.day-pill:hover{
	background-color: #1fbbad;
	color: #fff;
}
.menu-gradient{
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	  background-image: -webkit-linear-gradient(#000, transparent);
	  background-image: -moz-linear-gradient(#000, transparent);
	  background-image: -o-linear-gradient(#000, transparent);
	  background-image: linear-gradient(#E6C2A7, rgba(249, 222, 68, 0.15));
}
/*.active{
	z-index: 0 !important;
	background-color:#1fbbad !important
}*/
.ValidationErrors{color:red;}